<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= @event.details%>
</div>

<div>
  <% if @event.users.include?(current_user) %>
    <% attendee = @event.attendees.find_by(user: current_user) %>
    <%= button_to "Cancel Attendance", attendee_path(attendee), method: :delete if attendee %>
  <% else %>
    <%= button_to "Attend This Event", attendees_path, method: :post, params: { event_id: @event.id } %>
  <% end %>
</div>

<div>
  <h3>People attending this event:</h3>
</div>

<div>
  <% if @event.attendees.length > 0 %>
    <% @event.attendees.each do |attendee| %>
    <%= attendee.user.username %>
    <% end %>
  <% else %>
    <div>No attendees yet.</div>
  <% end %>
</div>

<div>
  <% if @event.creator == current_user %>
    <%= button_to "Edit this event", edit_event_path(@event), method: :get %>

    <%= button_to "Delete Event", @event, method: :delete %>
  <% end %>
</div>
