<%= turbo_frame_tag dom_id(@event) do %>
<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <h3>People attending this event:</h3>
</div>

<div>
  <% if @event.attendees.length > 0 %>
    <% @event.attendees.each do |attendee| %>
    <%= attendee.user.display_name %>
    <% end %>
  <% else %>
    <div>No attendees yet.</div>
  <% end %>
</div>

<div>
  <% if @event.creator == current_user && current_user.manager? %>
    <%= link_to "Edit", edit_event_path(@event), class: "btn btn-secondary", data: { turbo: false } %>
    <%= button_to "Delete", @event, method: :delete, class: "btn btn-danger", form: { data: { turbo: false } } %>
  <% end %>
  <%= link_to "Back", events_path, class: "btn btn-primary", data: { turbo: false } %>
</div>
<% end %>
