<%= form_with url: check_email_path, method: :post, data: { turbo_stream: true } do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div>
    <%= f.submit "Continue" %>
  </div>
<% end %> 