<% if @email.present? %>
  <% user_exists = User.exists?(email: @email) %>
  
  <% if user_exists %>
    <%= turbo_stream.replace "auth_form" do %>
      <%= render partial: "users/sessions/form", locals: { 
        email: @email, 
        resource: User.new(email: @email), 
        resource_name: :user,
        devise_mapping: @devise_mapping 
      } %>
    <% end %>
  <% else %>
    <%= turbo_stream.replace "auth_form" do %>
      <%= render partial: "users/registrations/form", locals: { 
        email: @email, 
        resource: User.new(email: @email), 
        resource_name: :user,
        devise_mapping: @devise_mapping 
      } %>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "auth_form" do %>
    <div>Please provide an email address.</div>
    <%= render partial: "authentication/email_form" %>
  <% end %>
<% end %> 