<p style="color: green"><%= notice %></p>

<div class="filter-section mb-4">
  <%= form_with url: locations_path, method: :get, data: { turbo_frame: "locations", controller: "auto-submit" } do |f| %>
    <div class="d-flex align-items-center gap-3">
      <div class="flex-grow-1">
        <%= f.select :category,
            options_for_select(@categories, params[:category]),
            { prompt: "All Categories" },
            { class: "form-select",
              data: { action: "change->auto-submit#submit" } } %>
      </div>

      <div class="form-check form-switch">
        <%= f.check_box :open_now,
            { class: "form-check-input",
              data: { action: "change->auto-submit#submit" },
              checked: params[:open_now] == "true" },
            "true",
            "false" %>
        <%= f.label :open_now, "Open Now", class: "form-check-label" %>
      </div>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "locations" do %>
  <div id="locations">
    <% @locations.each do |location| %>
      <%= render partial: 'location', locals: { location: location, show_actions: true } %>
      <hr>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "New location", new_location_path %>
<% end %>
