<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <% if user_signed_in? && (current_user.admin? || current_user.managed_locations.include?(@location)) %>
    <%= link_to "Edit this location", edit_location_path(@location) %>
    <% if current_user.admin? %>
      | <%= link_to "Delete this location", @location, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>
  <%= link_to "Back to locations", locations_path %>
</div>
